
    * {
        font-weight: bold;
        border-radius: 8px;
        
    }

    body {
        background-image: url(./blue2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        max-height: fit-content;
    }

    h1 {
        border-bottom: darkmagenta;
        color: rgb(26 70 102);
        text-align: center;
        margin-top: 20px;
        border: darkblue;
        font-size: 3rem;
    }

    #form {
        background-color: rgb(2, 31, 36);
        height: 500px;
        width: 800px;
        margin: auto;
        padding: 10px;
        opacity: 0.3;
    }

    #form h3 {
        border-bottom: 2px solid white;
        font-size: 1.5rem;
        font-style: bold;
        color: whitesmoke;
        padding: 10px;
        margin: 25px;

    }

    #Input {
        padding: 40px;
        margin: auto;
        text-align: center;
        color: white;

    }

    .date{
        padding: 25px;
        margin: auto;
        text-align: center;
        color: white;
    


    }

    #typeof {
        text-align: center;
        color: white;
        padding: auto;
        margin-bottom: 12px;
        font-style: bold;
    }
    .pass{
        text-align: center;
        padding: 40px;
        margin:auto
    }
    #search {
        text-align: center;
        margin: auto;
        padding: 40px;
        
        
        
    }
    
    #search :hover {
        color: rgb(245, 245, 245);
        cursor: pointer;
        background: rgb(69, 83, 83);
        border-radius: 18px;
        
    }
    